%b On Your Team:
%br
- @friendlies.each do |hero|
  = hero.name
  %br
%br

%b On the Enemy Team:
%br
- @enemies.each do |hero|
  = hero.name
  %br
%br

%b Recommended Picks:
%br 
- @recommendation.each do |hero_score|
  = hero_score.first
  %br
