@import mixins

thumb-width = 70px

.characters
  padding: 5px 10px

  &.bans
    height: 230px

  .character
    float: left
    position: relative
    round-corners(3px, 3px, 3px, 3px)
    margin: 5px 7px
    min-height: thumb-width

    &.dead
      opacity: 0.3

     label
       display: block
       width: thumb-width
       height: thumb-width

    .name
      width: thumb-width
      height: 30px
      text-align: center

    &.addable:hover, &.removeable:hover
      cursor: pointer

      &:before
        position: absolute
        width: 100%
        height: 100%
        background: rgba(0,0,0,0.3)
        text-align: center
        line-height: 60px
        font-size: 30px

    &.addable:hover:before
      content: "+"

    &.removeable:hover:before
      content: "-"


label.hero_big
  background: url(/assets/heroes_big.jpg)
  background-position: -28px 0
  width: 100%
  height: 100%
  display: block
  box-shadow: inset 0 0 5px 3px rgba(0,0,0,0.7)

  &.ancient-apparition
    background-position: -28px -71px

  &.ancient-apparition.small
    background-position: -35px -86px

  &.alchemist
    background-position: -28px -142px

  &.alchemist.small
    background-position: -28px -152px

  &.anti-mage
    background-position: -28px -213px

  &.anti-mage.small
    background-position: -40px -233px

  &.axe
    background-position: -28px -284px

  &.axe.small
    background-position: -30px -294px

  &.bane
    background-position: -28px -355px

  &.bane.small
    background-position: -20px -375px

  &.batrider
    background-position: -28px -426px

  &.batrider.small
    background-position: -30px -446px

  &.bristleback
    background-position: -28px -497px

  &.bristleback.small
    background-position: -10px -517px

  &.beastmaster
    background-position: -28px -568px

  &.beastmaster.small
    background-position: -20px -578px

  &.bounty-hunter
    background-position: -28px -639px

  &.bounty-hunter.small
    background-position: -20px -659px

  &.brewmaster
    background-position: -28px -710px

  &.brewmaster.small
    background-position: -15px -730px

  &.broodmother
    background-position: -28px -781px

  &.broodmother.small
    background-position: -10px -791px

  &.bloodseeker
    background-position: -28px -852px

  &.bloodseeker.small
    background-position: -20px -872px

  &.centaur-warrunner
    background-position: -28px -923px

  &.centaur-warrunner.small
    background-position: -20px -933px

  &.chen
    background-position: -28px -994px

  &.chen.small
    background-position: -20px -1014px

  &.chaos-knight
    background-position: -28px -1065px

  &.chaos-knight.small
    background-position: -20px -1085px

  &.clinkz
    background-position: -28px -1136px

  &.clinkz.small
    background-position: -10px -1146px

  &.clockwerk
    background-position: -28px -1207px

  &.clockwerk.small
    background-position: -30px -1227px

  &.crystal-maiden
    background-position: -28px -1278px

  &.crystal-maiden.small
    background-position: -30px -1288px

  &.dazzle
    background-position: -28px -1349px

  &.dazzle.small
    background-position: -10px -1369px

  &.undying
    background-position: -28px -1420px

  &.undying.small
    background-position: -15px -1425px

  &.disruptor
    background-position: -28px -1491px

  &.disruptor.small
    background-position: -15px -1506px

  &.dragon-knight
    background-position: -28px -1562px

  &.dragon-knight.small
    background-position: -50px -1572px

  &.doom
    background-position: -28px -1633px

  &.doom.small
    background-position: -15px -1653px

  &.drow-ranger
    background-position: -28px -1704px

  &.drow-ranger.small
    background-position: -10px -1704px

  &.dark-seer
    background-position: -28px -1775px

  &.dark-seer.small
    background-position: -20px -1790px

  &.enchantress
    background-position: -28px -1846px

  &.enchantress.small
    background-position: -20px -1856px

  &.enigma
    background-position: -28px -1917px

  &.enigma.small
    background-position: -40px -1932px

  &.earthshaker
    background-position: -28px -1988px

  &.earthshaker.small
    background-position: -20px -1988px

  &.gyrocopter
    background-position: -28px -2059px

  &.gyrocopter.small
    background-position: -10px -2069px

  &.huskar
    background-position: -28px -2130px

  &.huskar.small
    background-position: -28pxpx -2145px

  &.invoker
    background-position: -28px -2201px

  &.invoker.small
    background-position: -20px -2221px

  &.jakiro
    background-position: -28px -2272px

  &.jakiro.small
    background-position: -28pxpx -2282px

  &.juggernaut
    background-position: -28px -2343px

  &.juggernaut.small
    background-position: -20px -2353px

  &.keeper-of-the-light
    background-position: -28px -2414px

  &.keeper-of-the-light.small
    background-position: -28px -2429px

  &.death-prophet
    background-position: -28px -2485px

  &.death-prophet.small
    background-position: -45px -2500px

  &.kunkka
    background-position: -28px -2556px

  &.lone-druid
    background-position: -28px -2627px

  &.lone-druid.small
    background-position: -45px -2647px

  &.skeleton-king
    background-position: -28px -2698px

  &.skeleton-king.small
    background-position: -30px -2708px

  &.leshrac
    background-position: -28px -2769px

  &.leshrac.small
    background-position: -35px -2789px

  &.lich
    background-position: -28px -2840px

  &.lich.small
    background-position: -10px -2850px

  &.lina
    background-position: -8px -2911px

  &.lina.small
    background-position: -5px -2926px

  &.lion
    background-position: -28px -2982px

  &.lion.small
    background-position: -25px -2997px

  &.abaddon
    background-position: -28px -3053px

  &.abaddon.small
    background-position: -20px -3063px

  &.luna
    background-position: -28px -3124px

  &.luna.small
    background-position: -30px -3134px

  &.lycanthrope
    background-position: -28px -3195px

  &.lycanthrope.small
    background-position: -30px -3215px

  &.magnus
    background-position: -28px -3266px

  &.magnus.small
    background-position: -30px -3266px

  &.medusa
    background-position: -28px -3337px

  &.medusa.small
    background-position: -15px -3362px

  &.meepo
    background-position: -28px -3408px

  &.meepo.small
    background-position: -40px -3428px

  &.morphling
    background-position: -28px -3479px

  &.morphling.small
    background-position: -10px -3499px

  &.nyx-assassin
    background-position: -28px -3550px

  &.nyx-assassin.small
    background-position: -25px -3565px

  &.naga-siren
    background-position: -28px -3621px

  &.naga-siren.small
    background-position: -28px -3631px

  &.lifestealer
    background-position: -28px -3692px

  &.lifestealer.small
    background-position: -30px -3702px

  &.necrophos
    background-position: -28px -3763px

  &.necrophos.small
    background-position: -35px -3778px

  &.night-stalker
    background-position: -28px -3834px

  &.night-stalker.small
    background-position: -35px -3854px

  &.outworld-devourer
    background-position: -28px -3905px

  &.outworld-devourer.small
    background-position: -35px -3925px

  &.ogre-magi
    background-position: -28px -3976px

  &.ogre-magi.small
    background-position: -40px -3986px

  &.omniknight
    background-position: -28px -4047px

  &.omniknight.small
    background-position: -15px -4067px

  &.phantom-assassin
    background-position: -28px -4118px

  &.phantom-assassin.small
    background-position: -20px -4138px

  &.phantom-lancer
    background-position: -28px -4189px

  &.phantom-lancer.small
    background-position: -10px -4209px

  &.mirana
    background-position: -28px -4260px

  &.mirana.small
    background-position: -20px -4270px

  &.nature-s-prophet
    background-position: -28px -4331px

  &.nature-s-prophet.small
    background-position: -35px -4341px

  &.puck
    background-position: -28px -4402px

  &.puck.small
    background-position: -50px -4417px

  &.pudge
    background-position: -28px -4473px

  &.pudge.small
    background-position: -10px -4488px

  &.pugna
    background-position: -28px -4544px

  &.pugna.small
    background-position: -30px -4579px

  &.queen-of-pain
    background-position: -28px -4615px

  &.queen-of-pain.small
    background-position: -25px -4635px

  &.razor
    background-position: -28px -4686px

  &.razor.small
    background-position: -50px -4701px

  &.shadow-shaman
    background-position: -7px -4757px

  &.shadow-shaman.small
    background-position: -5px -4767px

  &.riki
    background-position: -28px -4828px

  &.riki.small
    background-position: -40px -4848px

  &.rubick
    background-position: -28px -4899px

  &.rubick.small
    background-position: -30px -4904px

  &.spirit-breaker
    background-position: -28px -4970px

  &.spirit-breaker.small
    background-position: -20px -4995px

  &.shadow-demon
    background-position: -28px -5041px

  &.shadow-demon.small
    background-position: -35px -5056px

  &.shadow-fiend
    background-position: -28px -5112px

  &.shadow-fiend.small
    background-position: -30px -5117px

  &.timbersaw
    background-position: -28px -5183px

  &.timbersaw.small
    background-position: -35px -5203px

  &.silencer
    background-position: -28px -5254px

  &.silencer.small
    background-position: -25px -5264px

  &.sand-king
    background-position: -28px -5325px

  &.sand-king.small
    background-position: -20px -5355px

  &.slardar
    background-position: -28px -5396px

  &.slardar.small
    background-position: -15px -5411px

  &.slark
    background-position: -28px -5467px

  &.slark.small
    background-position: -15px -5477px

  &.skywrath-mage
    background-position: -28px -5538px

  &.skywrath-mage.small
    background-position: -28px -5548px

  &.sniper
    background-position: -28px -5609px

  &.sniper.small
    background-position: -15px -5619px

  &.spectre
    background-position: -28px -5680px

  &.spectre.small
    background-position: -35px -5690px

  &.storm-spirit
    background-position: -28px -5751px

  &.storm-spirit.small
    background-position: -10px -5771px

  &.sven
    background-position: -28px -5822px

  &.sven.small
    background-position: -30px -5822px

  &.templar-assassin
    background-position: -28px -5893px

  &.templar-assassin.small
    background-position: -10px -5893px

  &.elder-titan
    background-position: -28px -5964px

  &.elder-titan.small
    background-position: -20px -5974px

  &.tidehunter
    background-position: -8px -6035px

  &.tidehunter.small
    background-position: -10px -6040px

  &.tinker
    background-position: -28px -6106px

  &.tinker.small
    background-position: -20px -6126px

  &.tiny
    background-position: -28px -6177px

  &.tiny.small
    background-position: -20px -6177px

  &.treant-protector
    background-position: -28px -6248px

  &.treant-protector.small
    background-position: -10px -6263px

  &.troll-warlord
    background-position: -28px -6319px

  &.troll-warlord.small
    background-position: -28px -6329px

  &.tusk
    background-position: -12px -6390px

  &.tusk.small
    background-position: -12px -6410px

  &.ursa
    background-position: -8px -6461px

  &.ursa.small
    background-position: -10px -6471px

  &.venomancer
    background-position: -28px -6532px

  &.venomancer.small
    background-position: -30px -6532px

  &.viper
    background-position: -28px -6603px

  &.viper.small
    background-position: -30px -6618px

  &.visage
    background-position: -28px -6674px

  &.visage.small
    background-position: -15px -6694px

  &.faceless-void
    background-position: -28px -6745px

  &.faceless-void.small
    background-position: -30px -6765px

  &.vengeful-spirit
    background-position: -28px -6816px

  &.vengeful-spirit.small
    background-position: -20px -6841px

  &.warlock
    background-position: -28px -6887px

  &.warlock.small
    background-position: -15px -6897px

  &.witch-doctor
    background-position: -28px -6958px

  &.witch-doctor.small
    background-position: -10px -6968px

  &.weaver
    background-position: -28px -7029px

  &.weaver.small
    background-position: -35px -7044px

  &.io
    background-position: -28px -7100px

  &.io.small
    background-position: -10px -7110px

  &.windranger
    background-position: -28px -7171px

  &.windranger.small
    background-position: -20px -7191px

  &.zeus
    background-position: -28px -7242px

  &.zeus.small
    background-position: -28px -7257px

  &.earth-spirit
    background-position: -28px -7313px

  &.earth-spirit.small
    background-position: -24px -7333px

  &.ember-spirit
    background-position: -28px -7384px

  &.ember-spirit.small
    background-position: -5px -7404px

  &.legion-commander
    background-position: -28px -7455px

  &.legion-commander.small
    background-position: -5px -7480px