body
  font-family: 'Helvetica Neue'

h1
  clear: left
  font-size: 18px

.headline
  text-align: center
  font-weight: 500
  font-size: 36px

.center
  width: 800px
  margin: 0 auto

.left
  float: left
  margin: 3px

  label
    display: block
    text-align: center
    font-weight: 200
    font-size: 9px

.hero_name
  display: block
  text-align: center
  font-weight: 200
  font-size: 16px

.new-line
  clear: both

.hero
  background: image-url("heroes_big.jpg")
  width: 63px
  height: 35px
  // width: 127px
  // height: 71px
  border: 3px solid #000

.hero_big
  background: image-url("heroes_big.jpg")
  width: 127px
  height: 71px
  border: 3px solid #000

.hero_header
  text-align: center
  font-size: 26px
  font-weight: 200

.hero_group_header
  text-align: center
  font-size: 14px

label.hero
  opacity: 0.5

input[type="checkbox"]
  display: none

  &:checked + .hero
    border-color: #33f
    box-shadow: inset 0 0 8px 2px rgba(100,100,240,.8)
    opacity: 1

.submit_wrapper
  width: 135px
  margin: auto

.submit
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff
  box-shadow: inset 0px 1px 0px 0px #ffffff
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0991eb), color-stop(1, #8787f0))
  background: -moz-linear-gradient(center top, #0991eb 5%, #8787f0 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0991eb', endColorstr='#8787f0')
  background-color: #0991eb
  -moz-border-radius: 6px
  -webkit-border-radius: 6px
  border-radius: 6px
  border: 1px solid #ff21ff
  display: inline-block
  color: #ffffff
  font-family: arial
  font-size: 15px
  font-weight: bold
  padding: 6px 21px
  text-decoration: none
  text-shadow: 1px 1px 0px #000000
  &:hover
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8787f0), color-stop(1, #0991eb))
    background: -moz-linear-gradient(center top, #8787f0 5%, #0991eb 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8787f0', endColorstr='#0991eb')
    background-color: #8787f0
  &:active
    position: relative
    top: 1px


.ancient-apparition
  background-position: 0 -71px

.alchemist
  background-position: 0 -142px

.anti-mage
  background-position: 0 -213px

.axe
  background-position: 0 -284px

.bane
  background-position: 0 -355px

.batrider
  background-position: 0 -426px

.bristleback
  background-position: 0 -497px

.beastmaster
  background-position: 0 -568px

.bounty-hunter
  background-position: 0 -639px

.brewmaster
  background-position: 0 -710px

.broodmother
  background-position: 0 -781px

.bloodseeker
  background-position: 0 -852px

.centaur-warrunner
  background-position: 0 -923px

.chen
  background-position: 0 -994px

.chaos-knight
  background-position: 0 -1065px

.clinkz
  background-position: 0 -1136px

.clockwerk
  background-position: 0 -1207px

.crystal-maiden
  background-position: 0 -1278px

.dazzle
  background-position: 0 -1349px

.undying
  background-position: 0 -1420px

.disruptor
  background-position: 0 -1491px

.dragon-knight
  background-position: 0 -1562px

.doom
  background-position: 0 -1633px

.drow-ranger
  background-position: 0 -1704px

.dark-seer
  background-position: 0 -1775px

.enchantress
  background-position: 0 -1846px

.enigma
  background-position: 0 -1917px

.earthshaker
  background-position: 0 -1988px

.gyrocopter
  background-position: 0 -2059px

.huskar
  background-position: 0 -2130px

.invoker
  background-position: 0 -2201px

.jakiro
  background-position: 0 -2272px

.juggernaut
  background-position: 0 -2343px

.keeper-of-the-light
  background-position: 0 -2414px

.death-prophet
  background-position: 0 -2485px

.kunkka
  background-position: 0 -2556px

.lone-druid
  background-position: 0 -2627px

.skeleton-king
  background-position: 0 -2698px

.leshrac
  background-position: 0 -2769px

.lich
  background-position: 0 -2840px

.lina
  background-position: 0 -2911px

.lion
  background-position: 0 -2982px

.abaddon
  background-position: 0 -3053px

.luna
  background-position: 0 -3124px

.lycanthrope
  background-position: 0 -3195px

.magnus
  background-position: 0 -3266px

.medusa
  background-position: 0 -3337px

.meepo
  background-position: 0 -3408px

.morphling
  background-position: 0 -3479px

.nyx-assassin
  background-position: 0 -3550px

.naga-siren
  background-position: 0 -3621px

.lifestealer
  background-position: 0 -3692px

.necrolyte
  background-position: 0 -3763px

.night-stalker
  background-position: 0 -3834px

.outworld-devourer
  background-position: 0 -3905px

.ogre-magi
  background-position: 0 -3976px

.omniknight
  background-position: 0 -4047px

.phantom-assassin
  background-position: 0 -4118px

.phantom-lancer
  background-position: 0 -4189px

.mirana
  background-position: 0 -4260px

.nature-s-prophet
  background-position: 0 -4331px

.puck
  background-position: 0 -4402px

.pudge
  background-position: 0 -4473px

.pugna
  background-position: 0 -4544px

.queen-of-pain
  background-position: 0 -4615px

.razor
  background-position: 0 -4686px

.shadow-shaman
  background-position: 0 -4757px

.riki
  background-position: 0 -4828px

.rubick
  background-position: 0 -4899px

.spirit-breaker
  background-position: 0 -4970px

.shadow-demon
  background-position: 0 -5041px

.shadow-fiend
  background-position: 0 -5112px

.timbersaw
  background-position: 0 -5183px

.silencer
  background-position: 0 -5254px

.sand-king
  background-position: 0 -5325px

.slardar
  background-position: 0 -5396px

.slark
  background-position: 0 -5467px

.skywrath-mage
  background-position: 0 -5538px

.sniper
  background-position: 0 -5609px

.spectre
  background-position: 0 -5680px

.storm-spirit
  background-position: 0 -5751px

.sven
  background-position: 0 -5822px

.templar-assassin
  background-position: 0 -5893px

.elder-titan
  background-position: 0 -5964px

.tidehunter
  background-position: 0 -6035px

.tinker
  background-position: 0 -6106px

.tiny
  background-position: 0 -6177px

.treant-protector
  background-position: 0 -6248px

.troll-warlord
  background-position: 0 -6319px

.tusk
  background-position: 0 -6461px

.ursa
  background-position: 0 -6532px

.venomancer
  background-position: 0 -6603px

.viper
  background-position: 0 -6674px

.visage
  background-position: 0 -6745px

.faceless-void
  background-position: 0 -6816px

.vengeful-spirit
  background-position: 0 -6887px

.warlock
  background-position: 0 -6958px

.witch-doctor
  background-position: 0 -7029px

.weaver
  background-position: 0 -7100px

.io
  background-position: 0 -7171px

.windrunner
  background-position: 0 -7242px

.zeus
  background-position: 0 -7313px

