@import mixins

.ui-widget-content
  background: #000
  color: #ccc
  border-top: 0px
  border-bottom: 1px solid #333
  border-left: 1px solid #333
  border-right: 1px solid #333
  round-corners(0, 0, 4px, 4px)

  li
   a
    color: #ccc